* {
    font-family: 'Macondo';
    color:black;
}
body {
    background-image: url(/images/Без\ имени-1.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */

    background-attachment: fixed;
    background-size: cover; /* Фон занимает всю доступную площадь */
}

.header {
    height: 135px;
    background-color: #b6b6b621;
}

.header2 {
    height: 175px;
    text-align: center;
}
.logoHeader {
    left: 0;
    vertical-align: middle;
}