* {
    font-family: 'Macondo';
    color:black;
}
body {
    background-image: url(/images/Без\ имени-1.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover; /* Фон занимает всю доступную площадь */
}

.header {
    height: 85px;
    background-color: #C4C4C410;
}
.headerLogo {
    margin-left: 100px;
}

li {
    display: inline;
    margin: 20px;
}

a {
    color: #b6b6b6;
    text-decoration: none;
    font-family: 'Roboto Condensed';
}